<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名</title>
</head>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/signup.js"></script>
<script type="text/javascript">

    window.onload = function(){
        loadRegion('province','city','{:U('Index/getRegion')}');
    };

</script>
<body>
<form action="{:U('')}" method="post">
    <div>真实姓名</div>
    <div><input name="name" id="name"/></div>
    <div>手机号</div>
    <div>
        <input name="phone" id="phone"/>
            <input type="button" id="btn" value="获取验证码" onclick="sendVerifyCode('{:U('Index/sendVerifyCode')}')" />
            <!--获取验证码</a>-->
    </div>
    <div>验证码：<input type="hidden" name="rightCode" id="rightCode" value="{$code}"/></div>
    <div><input name="code" id="code" onblur="volidateCode()"/><a id="isRightCode"></a></div>
    <div>所在省份-城市</div>
    <div>
        <select name="province" id="province" onchange="loadRegion('province','city','{:U('Index/getRegion')}');">
            <volist name="provinceList" id="vo">
            <option value="{$vo.id}" >{$vo.name}</option></volist>
        </select>
        <select name="city" id="city">
        </select>
    </div>
    <div>是否需要工作人员帮助预定酒店住宿？</div>
    <div>
        <input type="radio" name="accommodation" value="1" checked="true"/>是
        <input type="radio" name="accommodation" value="0"/>否
    </div>
    <div>
        <a href="#" onclick="register('{:U('Index/register')}')">报名参加</a>
    </div>
    <div>
        <a href="{:U('Index/login')}">修改报名信息</a>
    </div>
</form>
<div>

</div>
</body>
</html>