<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名</title>
</head>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
    var wait=60;
    var code = 9999;
    window.onload = function(){
        loadRegion('province','city','{:U('Index/getRegion')}');
    };

    function loadRegion(sel,selName,url){
        jQuery("#"+selName+" option").each(function(){
            jQuery(this).remove();
        });
        jQuery("#"+selName);
        if(jQuery("#"+sel).val()==0){
            return;
        }
        jQuery.getJSON(url,{pid:jQuery("#"+sel).val()},
                function(data){
                    if(data){
                        jQuery.each(data,function(idx,item){
                            jQuery("<option "+"id="+item.id+"value="+item.id+">"+item.name+"</option>").appendTo(jQuery("#"+selName));
                        });
                    }else{
                        jQuery("#"+selName);
                    }
                }
        );
    }

    function sendVerifyCode(url){
        wait=60;
        code = Math.round(Math.random()*9000)+1000;
        document.getElementById("rightCode").value=code;
        o = document.getElementById("btn");
        document.getElementById("isRightCode").innerHTML="";
        document.getElementById("code").value="";
        jQuery.getJSON(url,{phone:jQuery("#"+'phone').val(),code:code},
                function(data){
                    if(data){

                    }else{
                        alert("后台数据错误！");
                    }
                }
        );
        time(o);
    }

    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="免费获取验证码";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                        time(o)
                    },
                    1000)
        }
    }

    function volidateCode(){
        correctCode = document.getElementById("rightCode").value;
        code =  parseInt(document.getElementById("code").value);
        codeStatus = document.getElementById("isRightCode");
        if( code == correctCode ){
            codeStatus.innerHTML="√";
        }else{
            codeStatus.innerHTML="×"
        }
    }

    function register(url){
        $name = $("input[name='name']").val();
        $phone = $("input[name='phone']").val();
        $verifyCode = $("input[name='code']").val();
        $rightCode = $("input[name='rightCode']").val();
        $province = $("#province  option:selected").text();
        $city = $("#city  option:selected").text();
        $accommodation = $("input[name='accommodation']:checked").val();
        if( $name && $phone && $verifyCode && $province && $city && ($verifyCode == $rightCode ) ){
            jQuery.getJSON(url,{name:$name, phone:$phone, province:$province, city:$city, accomodation:$accommodation},
                    function(data){
                        if(data){
                            alert("注册成功！");
                        }else{
                            alert("后台数据错误！");
                        }
                    }
            );
        }else{
            alert("请填写正确的信息！");
        }
    }

</script>
<body>
<form action="{:U('')}" method="post">
    <div>真实姓名</div>
    <div><input name="name" id="name"/></div>
    <div>手机号</div>
    <div>
        <input name="phone" id="phone"/>
        <!--<a href="#" id="btn" onclick="sendVerifyCode('{:U('Index/sendVerifyCode')}')">-->
            <input type="button" id="btn" value="获取验证码" onclick="sendVerifyCode('{:U('Index/sendVerifyCode')}')" />
            <!--获取验证码</a>-->
    </div>
    <div>验证码：<input type="hidden" name="rightCode" id="rightCode" value="{$code}"/></div>
    <div><input name="code" id="code" onblur="volidateCode()"/><a id="isRightCode"></a></div>
    <div>所在省份-城市</div>
    <div>
        <select name="province" id="province" onchange="loadRegion('province','city','{:U('Index/getRegion')}');">
            <volist name="provinceList" id="vo">
            <option value="{$vo.id}" >{$vo.name}</option></volist>
        </select>
        <select name="city" id="city">
        </select>
    </div>
    <div>是否需要工作人员帮助预定酒店住宿？</div>
    <div>
        <input type="radio" name="accommodation" value="1" checked="true"/>是
        <input type="radio" name="accommodation" value="0"/>否
    </div>
    <div>
        <!--<input type="submit" value="报名参加"/>-->
        <a href="#" onclick="register('{:U('Index/register')}')">报名参加</a>
    </div>
</form>
<div>

</div>
</body>
</html>