<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改报名信息</title>
</head>
<script type="text/javascript" src="__PUBLIC__/js/signup.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript">
    window.onload = function(){
        document.getElementById("{$data.accommodation}").checked = "checked";
        $(".province").val("{$data.provinceId}");
        modifyLoadRegion('province','city','{:U('Index/getRegion')}','{$data.city}');
    }
</script>
<body>
<form action="{:U('')}" method="post">
    <div><input type="hidden" name="id" value="{$data.id}"/></div>
    <div>真实姓名</div>
    <div><input name="name" id="name" value="{$data.name}"/></div>
    <div>手机号</div>
    <div>
        <input name="phone" id="phone" value="{$data.phone}"/>
    </div>
    <div>所在省份-城市</div>
    <div>
        <select name="province" id="province" class="province" onchange="loadRegion('province','city','{:U('Index/getRegion')}');">
            <volist name="provinceList" id="vo">
                <option value="{$vo.id}" >{$vo.name}</option>
            </volist>
        </select>
        <select name="city" id="city">
        </select>
    </div>
    <div>是否需要工作人员帮助预定酒店住宿？</div>
    <div>
        <input type="radio" id="1" name="accommodation" value="1" />是
        <input type="radio" id="0" name="accommodation" value="0"/>否
    </div>
    <div>
        <a href="#" onclick="modify('{:U('Index/modifyHandler')}')">修改信息</a>
    </div>
</form>
</body>
</html>